In [1]:
import pandas as pd

In [32]:
df = pd.read_csv('/Users/bengriffith/Documents/CurrentlyRelevant/INST414/inst.411.final-project.repo/Data/isbn13_results.csv')
df.head()

,Unnamed: 0,title,subtitle,authors,publisher,publishdate,description,isbn_13,page_count,main_categories,categories,average_rating,ratings_count,maturity_rating
0,0,Harry Potter and the Chamber of Secrets,NaN,"['J. K. Rowling', 'Mary GrandPre']",Arthur a Levine,2003,When the Chamber of Secrets is opened again at...,9780439554893,341.0,['Juvenile Fiction'],['Juvenile Fiction'],4.5,2273.0,NOT_MATURE
1,1,Harry Potter and the Prisoner of Azkaban,NaN,['J. K. Rowling'],Scholastic Paperbacks,2004,During his third year at Hogwarts School for W...,9780439655484,547.0,['Juvenile Fiction'],['Juvenile Fiction'],4.5,2122.0,NOT_MATURE
2,2,Harry Potter,"5 Years of Magic, Adventure, and Mystery at Ho...",['J. K. Rowling'],NaN,2004,NaN,9780439682589,0.0,NaN,NaN,4.5,13.0,NOT_MATURE
3,3,Unauthorized Harry Potter and the Deathly Hall...,Harry Potter Book Seven and Half-Blood Prince ...,['W. Frederick Zimmerman'],Nimble Books,2005-04,Through the magic of print-on-demand technolog...,9780976540601,152.0,['Fiction'],['Fiction'],3.5,11.0,NOT_MATURE
4,4,The Harry Potter Collection,The First Six Spellbinding Adventures at Hogwarts,['J. K. Rowling'],Arthur a Levine,2005-10-01,The first six years of Harry Potter magic are ...,9780439827607,NaN,['Juvenile Fiction'],['Juvenile Fiction'],4.5,16.0,NOT_MATURE

In [33]:
descriptions = list(df['description'])
empty = 0
full = 0
for i in descriptions:
    #print(i)
    if pd.isna(i):
        empty+=1
    else:
        full += 1
        
print(empty, full)

141 2620

In [34]:
pages = list(df['page_count'])
empty = 0
full = 0
for i in pages:
    #print(i)
    if pd.isna(i):
        empty+=1
    else:
        full += 1
        
print(empty, full)

30 2731

In [35]:
ratings = list(df['average_rating'])
empty = 0
full = 0
for i in ratings:
    #print(i)
    if pd.isna(i):
        empty+=1
    else:
        full += 1
        
print(empty, full)

783 1978

In [36]:
# Remove rows with NaNs
descrNan = df.loc[pd.isna(df['description'])]
descrNan.head()

,Unnamed: 0,title,subtitle,authors,publisher,publishdate,description,isbn_13,page_count,main_categories,categories,average_rating,ratings_count,maturity_rating
2,2,Harry Potter,"5 Years of Magic, Adventure, and Mystery at Ho...",['J. K. Rowling'],NaN,2004,NaN,9780439682589,0.0,NaN,NaN,4.5,13.0,NOT_MATURE
92,92,The Untouchables,NaN,"['Eliot Ness', 'Oscar Fraley']",Buccaneer Books,1957,NaN,9781568491981,264.0,['Crime'],['Crime'],3.0,1.0,NOT_MATURE
117,117,The Rosy Crucifixion,NaN,['Henry Miller'],NaN,1965,NaN,9780802151780,NaN,NaN,NaN,NaN,NaN,NOT_MATURE
129,129,The Broken Wings,NaN,['Kahlil Gibran'],NaN,1994,NaN,9780806501901,128.0,NaN,NaN,NaN,NaN,NOT_MATURE
170,170,The New York Trilogy: The locked room,NaN,['Paul Auster'],NaN,1985,NaN,9780940650763,NaN,NaN,NaN,3.0,1.0,NOT_MATURE

In [37]:
pagesNan = df.loc[pd.isna(df['page_count'])]
pagesNan.head()

,Unnamed: 0,title,subtitle,authors,publisher,publishdate,description,isbn_13,page_count,main_categories,categories,average_rating,ratings_count,maturity_rating
4,4,The Harry Potter Collection,The First Six Spellbinding Adventures at Hogwarts,['J. K. Rowling'],Arthur a Levine,2005-10-01,The first six years of Harry Potter magic are ...,9780439827607,NaN,['Juvenile Fiction'],['Juvenile Fiction'],4.5,16.0,NOT_MATURE
117,117,The Rosy Crucifixion,NaN,['Henry Miller'],NaN,1965,NaN,9780802151780,NaN,NaN,NaN,NaN,NaN,NOT_MATURE
170,170,The New York Trilogy: The locked room,NaN,['Paul Auster'],NaN,1985,NaN,9780940650763,NaN,NaN,NaN,3.0,1.0,NOT_MATURE
232,232,The Five Love Languages,And Five Love Journal- Gift Package,['Gary Chapman'],Moody Publishers,2005-01-01,NaN,9780802415318,NaN,['Family & Relationships'],['Family & Relationships'],NaN,NaN,NOT_MATURE
291,291,Eclogues. Georgics. Aeneid,Books 1-6,['Virgil'],NaN,1999,NaN,9780674995833,NaN,NaN,NaN,NaN,NaN,NOT_MATURE

In [38]:
ratingsNan = df.loc[pd.isna(df['ratings_count'])]
ratingsNan.head()

,Unnamed: 0,title,subtitle,authors,publisher,publishdate,description,isbn_13,page_count,main_categories,categories,average_rating,ratings_count,maturity_rating
26,26,A Guide for Using Hatchet in the Classroom,NaN,['Donna Ickes'],Teacher Created Resources,1994-08,Teaching literature unit based on the popular ...,9781557344496,50.0,['Activity programs in education'],['Activity programs in education'],NaN,NaN,NOT_MATURE
28,28,Molly Hatchet,"5 of the Best : [guitar, Vocal].",['Molly Hatchet'],Cherry Lane Music,2003,(Play It Like It Is). Molly Hatchet is one of ...,9781575606248,0.0,['Guitar music (Rock)'],['Guitar music (Rock)'],NaN,NaN,NOT_MATURE
30,30,A Changeling for All Seasons,NaN,"['Angela Knight', 'Kate Douglas', 'Shelby Morg...",Changeling PressLlc,2005-10-01,A Changeling For All Seasons Ten unforgettable...,9781595962805,304.0,['Fiction'],['Fiction'],NaN,NaN,NOT_MATURE
33,33,The Changeling,A Novel,['Kate Horsley'],National Geographic Books,2005-04-12,"Here, the author of the acclaimed Confessions ...",9781590301944,0.0,['Fiction'],['Fiction'],NaN,NaN,NOT_MATURE
38,38,Artesia: Adventures In The Known World RPG,NaN,['Mark Smylie'],Archaia,2009-07-15,The award-winning graphic novel Artesia comes ...,9781932386103,0.0,['Games & Activities'],['Games & Activities'],NaN,NaN,NOT_MATURE

In [39]:
indexNan = []
for i in descrNan.index:
    indexNan.append(i)
for i in pagesNan.index:
    indexNan.append(i)
for i in ratingsNan.index:
    indexNan.append(i)

In [40]:
indexNan = [*set(indexNan)]

In [41]:
indexNan.sort()

In [42]:
indexNan

[2,
 4,
 26,
 28,
 30,
 33,
 38,
 40,
 48,
 51,
 53,
 54,
 56,
 67,
 69,
 70,
 72,
 74,
 75,
 79,
 80,
 83,
 84,
 87,
 89,
 91,
 92,
 94,
 95,
 96,
 100,
 101,
 112,
 117,
 122,
 127,
 128,
 129,
 132,
 133,
 134,
 135,
 138,
 142,
 150,
 156,
 157,
 170,
 171,
 176,
 180,
 185,
 190,
 192,
 193,
 205,
 207,
 208,
 214,
 222,
 223,
 232,
 238,
 239,
 245,
 251,
 253,
 262,
 263,
 267,
 271,
 278,
 280,
 281,
 282,
 284,
 286,
 291,
 292,
 294,
 295,
 304,
 305,
 307,
 309,
 315,
 316,
 317,
 319,
 320,
 321,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 332,
 333,
 334,
 336,
 337,
 339,
 343,
 345,
 350,
 351,
 352,
 353,
 354,
 355,
 358,
 359,
 360,
 366,
 371,
 375,
 376,
 380,
 381,
 382,
 383,
 387,
 395,
 400,
 403,
 411,
 414,
 416,
 421,
 425,
 426,
 427,
 430,
 431,
 432,
 434,
 441,
 443,
 444,
 457,
 458,
 459,
 462,
 464,
 465,
 466,
 471,
 476,
 478,
 480,
 481,
 486,
 487,
 488,
 489,
 490,
 491,
 494,
 496,
 501,
 504,
 506,
 511,
 512,
 513,
 515,
 519,
 524,
 525,
 531,
 534,
 536,
 537,
 542,
 544,
 556,
 557,
 559,
 567,
 574,
 581,
 590,
 593,
 602,
 603,
 605,
 607,
 611,
 615,
 619,
 620,
 622,
 624,
 628,
 629,
 632,
 646,
 650,
 655,
 657,
 666,
 669,
 671,
 678,
 679,
 682,
 685,
 688,
 691,
 694,
 699,
 707,
 712,
 714,
 721,
 742,
 743,
 745,
 747,
 751,
 752,
 754,
 757,
 760,
 766,
 767,
 769,
 773,
 783,
 796,
 801,
 802,
 816,
 821,
 827,
 828,
 829,
 830,
 831,
 835,
 840,
 841,
 849,
 850,
 851,
 859,
 860,
 866,
 871,
 874,
 880,
 881,
 882,
 883,
 884,
 892,
 894,
 903,
 915,
 921,
 924,
 926,
 931,
 934,
 935,
 944,
 951,
 956,
 959,
 960,
 961,
 962,
 966,
 968,
 970,
 972,
 977,
 986,
 987,
 988,
 989,
 990,
 994,
 995,
 1000,
 1002,
 1003,
 1004,
 1005,
 1011,
 1019,
 1027,
 1028,
 1037,
 1038,
 1043,
 1046,
 1047,
 1054,
 1056,
 1057,
 1058,
 1060,
 1061,
 1064,
 1070,
 1071,
 1074,
 1076,
 1079,
 1088,
 1092,
 1097,
 1115,
 1116,
 1117,
 1118,
 1120,
 1122,
 1123,
 1124,
 1129,
 1133,
 1140,
 1141,
 1144,
 1147,
 1152,
 1154,
 1161,
 1162,
 1163,
 1164,
 1168,
 1169,
 1170,
 1171,
 1174,
 1175,
 1176,
 1177,
 1178,
 1179,
 1180,
 1185,
 1187,
 1191,
 1192,
 1197,
 1201,
 1206,
 1209,
 1213,
 1216,
 1219,
 1222,
 1226,
 1232,
 1234,
 1238,
 1244,
 1247,
 1248,
 1254,
 1255,
 1258,
 1260,
 1263,
 1292,
 1293,
 1299,
 1301,
 1319,
 1327,
 1331,
 1333,
 1343,
 1354,
 1357,
 1358,
 1361,
 1364,
 1367,
 1368,
 1371,
 1377,
 1380,
 1383,
 1384,
 1389,
 1391,
 1393,
 1398,
 1402,
 1403,
 1404,
 1405,
 1407,
 1411,
 1412,
 1414,
 1416,
 1425,
 1427,
 1428,
 1439,
 1441,
 1442,
 1446,
 1447,
 1454,
 1456,
 1462,
 1466,
 1468,
 1470,
 1471,
 1472,
 1482,
 1483,
 1485,
 1487,
 1488,
 1490,
 1493,
 1494,
 1501,
 1503,
 1507,
 1508,
 1511,
 1517,
 1518,
 1520,
 1523,
 1524,
 1526,
 1527,
 1529,
 1531,
 1535,
 1539,
 1543,
 1547,
 1550,
 1552,
 1555,
 1556,
 1561,
 1562,
 1563,
 1566,
 1572,
 1573,
 1574,
 1578,
 1579,
 1583,
 1585,
 1592,
 1593,
 1594,
 1595,
 1599,
 1601,
 1606,
 1607,
 1612,
 1613,
 1616,
 1619,
 1625,
 1627,
 1632,
 1637,
 1641,
 1647,
 1648,
 1654,
 1655,
 1657,
 1660,
 1663,
 1667,
 1672,
 1675,
 1680,
 1681,
 1682,
 1683,
 1684,
 1693,
 1694,
 1698,
 1705,
 1707,
 1711,
 1712,
 1716,
 1718,
 1719,
 1720,
 1725,
 1729,
 1732,
 1733,
 1741,
 1744,
 1748,
 1750,
 1752,
 1762,
 1768,
 1772,
 1781,
 1782,
 1783,
 1785,
 1786,
 1801,
 1802,
 1815,
 1816,
 1824,
 1828,
 1829,
 1832,
 1833,
 1835,
 1836,
 1838,
 1839,
 1845,
 1849,
 1853,
 1857,
 1865,
 1866,
 1867,
 1872,
 1876,
 1877,
 1881,
 1882,
 1886,
 1887,
 1888,
 1893,
 1894,
 1898,
 1899,
 1900,
 1903,
 1912,
 1918,
 1921,
 1922,
 1923,
 1924,
 1926,
 1928,
 1930,
 1931,
 1932,
 1933,
 1945,
 1950,
 1953,
 1954,
 1959,
 1963,
 1968,
 1976,
 1991,
 1999,
 2006,
 2011,
 2012,
 2019,
 2024,
 2027,
 2028,
 2034,
 2038,
 2039,
 2041,
 2047,
 2051,
 2052,
 2054,
 2058,
 2059,
 2060,
 2061,
 2067,
 2074,
 2080,
 2081,
 2084,
 2086,
 2087,
 2090,
 2094,
 2097,
 2098,
 2101,
 2102,
 2103,
 2105,
 2107,
 2109,
 2117,
 2122,
 2123,
 2133,
 2134,
 2135,
 2137,
 2140,
 2141,
 2145,
 2147,
 2148,
 2149,
 2151,
 2152,
 2156,
 2157,
 2159,
 2163,
 2164,
 2166,
 2168,
 2170,
 2173,
 2177,
 2178,
 2179,
 2180,
 2182,
 2185,
 2186,
 2187,
 2188,
 2192,
 2193,
 2198,
 2200,
 2205,
 2206,
 2207,
 2208,
 2211,
 2212,
 2213,
 2217,
 2220,
 2225,
 2226,
 2227,
 2230,
 2231,
 2232,
 2234,
 2235,
 2236,
 2237,
 2240,
 2248,
 2251,
 2254,
 2255,
 2259,
 2262,
 2265,
 2268,
 2273,
 2276,
 2277,
 2281,
 2282,
 2283,
 2286,
 2287,
 2292,
 2293,
 2294,
 2295,
 2299,
 2303,
 2305,
 2310,
 2312,
 2315,
 2318,
 2322,
 2327,
 2337,
 2339,
 2341,
 2343,
 2347,
 2348,
 2350,
 2351,
 2356,
 2357,
 2358,
 2362,
 2363,
 2367,
 2370,
 2371,
 2376,
 2379,
 2380,
 2381,
 2387,
 2389,
 2391,
 2392,
 2397,
 2400,
 2405,
 2408,
 2413,
 2415,
 2417,
 2418,
 2423,
 2424,
 2425,
 2426,
 2431,
 2435,
 2436,
 2441,
 2443,
 2447,
 2450,
 2460,
 2461,
 2462,
 2463,
 2464,
 2465,
 2474,
 2475,
 2483,
 2493,
 2499,
 2500,
 2508,
 2510,
 2515,
 2526,
 2536,
 2538,
 2540,
 2545,
 2546,
 2548,
 2550,
 2551,
 2557,
 2559,
 2562,
 2563,
 2564,
 2568,
 2571,
 2574,
 2580,
 2584,
 2587,
 2589,
 2590,
 2592,
 2593,
 2602,
 2604,
 2608,
 2609,
 2610,
 2612,
 2618,
 2619,
 2621,
 2625,
 2635,
 2636,
 2638,
 2639,
 2640,
 2642,
 2644,
 2647,
 2649,
 2652,
 2659,
 2663,
 2666,
 2667,
 2668,
 2676,
 2679,
 2680,
 2682,
 2683,
 2685,
 2687,
 2692,
 2697,
 2698,
 2703,
 2704,
 2710,
 2711,
 2713,
 2714,
 2715,
 2716,
 2721,
 2723,
 2730,
 2732,
 2734,
 2745,
 2748,
 2749,
 2750,
 2752,
 2753,
 2757,
 2758]

In [43]:
df2 = df.copy()
for i in indexNan:
    df2 = df2.drop([i])

In [44]:
df2.head()

,Unnamed: 0,title,subtitle,authors,publisher,publishdate,description,isbn_13,page_count,main_categories,categories,average_rating,ratings_count,maturity_rating
0,0,Harry Potter and the Chamber of Secrets,NaN,"['J. K. Rowling', 'Mary GrandPre']",Arthur a Levine,2003,When the Chamber of Secrets is opened again at...,9780439554893,341.0,['Juvenile Fiction'],['Juvenile Fiction'],4.5,2273.0,NOT_MATURE
1,1,Harry Potter and the Prisoner of Azkaban,NaN,['J. K. Rowling'],Scholastic Paperbacks,2004,During his third year at Hogwarts School for W...,9780439655484,547.0,['Juvenile Fiction'],['Juvenile Fiction'],4.5,2122.0,NOT_MATURE
3,3,Unauthorized Harry Potter and the Deathly Hall...,Harry Potter Book Seven and Half-Blood Prince ...,['W. Frederick Zimmerman'],Nimble Books,2005-04,Through the magic of print-on-demand technolog...,9780976540601,152.0,['Fiction'],['Fiction'],3.5,11.0,NOT_MATURE
5,5,The Ultimate Hitchhiker's Guide,Five Complete Novels and One Story,['Douglas Adams'],Gramercy,2005,6 Science fiction-romaner.,9780517226957,844.0,"['Dent, Arthur (Fictitious character)']","['Dent, Arthur (Fictitious character)']",4.5,35.0,NOT_MATURE
6,6,The Ultimate Hitchhiker's Guide to the Galaxy,Five Novels in One Outrageous Volume,['Douglas Adams'],National Geographic Books,2002-04-30,"In one complete volume, here are the five clas...",9780345453747,0.0,['Fiction'],['Fiction'],4.0,95.0,NOT_MATURE

In [45]:
df2.reset_index(inplace=True)
df2.drop(columns=['index', 'Unnamed: 0'], inplace=True)
df2.head()

,title,subtitle,authors,publisher,publishdate,description,isbn_13,page_count,main_categories,categories,average_rating,ratings_count,maturity_rating
0,Harry Potter and the Chamber of Secrets,NaN,"['J. K. Rowling', 'Mary GrandPre']",Arthur a Levine,2003,When the Chamber of Secrets is opened again at...,9780439554893,341.0,['Juvenile Fiction'],['Juvenile Fiction'],4.5,2273.0,NOT_MATURE
1,Harry Potter and the Prisoner of Azkaban,NaN,['J. K. Rowling'],Scholastic Paperbacks,2004,During his third year at Hogwarts School for W...,9780439655484,547.0,['Juvenile Fiction'],['Juvenile Fiction'],4.5,2122.0,NOT_MATURE
2,Unauthorized Harry Potter and the Deathly Hall...,Harry Potter Book Seven and Half-Blood Prince ...,['W. Frederick Zimmerman'],Nimble Books,2005-04,Through the magic of print-on-demand technolog...,9780976540601,152.0,['Fiction'],['Fiction'],3.5,11.0,NOT_MATURE
3,The Ultimate Hitchhiker's Guide,Five Complete Novels and One Story,['Douglas Adams'],Gramercy,2005,6 Science fiction-romaner.,9780517226957,844.0,"['Dent, Arthur (Fictitious character)']","['Dent, Arthur (Fictitious character)']",4.5,35.0,NOT_MATURE
4,The Ultimate Hitchhiker's Guide to the Galaxy,Five Novels in One Outrageous Volume,['Douglas Adams'],National Geographic Books,2002-04-30,"In one complete volume, here are the five clas...",9780345453747,0.0,['Fiction'],['Fiction'],4.0,95.0,NOT_MATURE

In [16]:
# removed stop words from descriptions
#import nltk
#nltk.download()
#from nltk.corpus import stopwords as sw
sw = ['ourselves', 'hers', 'between', 'yourself', 'but', 'again', 'there', 'about', 'once', 'during', 'out', 'very', 
      'having', 'with', 'they', 'own', 'an', 'be', 'some', 'for', 'do', 'its', 'yours', 'such', 'into', 'of', 'most', 
      'itself', 'other', 'off', 'is', 's', 'am', 'or', 'who', 'as', 'from', 'him', 'each', 'the', 'themselves', 'until', 
      'below', 'are', 'we', 'these', 'your', 'his', 'through', 'don', 'nor', 'me', 'were', 'her', 'more', 'himself', 
      'this', 'down', 'should', 'our', 'their', 'while', 'above', 'both', 'up', 'to', 'ours', 'had', 'she', 'all', 'no', 
      'when', 'at', 'any', 'before', 'them', 'same', 'and', 'been', 'have', 'in', 'will', 'on', 'does', 'yourselves', 
      'then', 'that', 'because', 'what', 'over', 'why', 'so', 'can', 'did', 'not', 'now', 'under', 'he', 'you', 'herself', 
      'has', 'just', 'where', 'too', 'only', 'myself', 'which', 'those', 'i', 'after', 'few', 'whom', 't', 'being', 'if', 
      'theirs', 'my', 'against', 'a', 'by', 'doing', 'it', 'how', 'further', 'was', 'here', 'than']

In [46]:
descrips = list(df2['description'])
no_stop_words = []

for i in descrips:
    new = []
    for j in i.split(' '):
        if j in sw:
            pass
        else:
            new.append(j)
        string = ' '.join(new)
    no_stop_words.append(string)

In [47]:
no_stop_words[:5]

['When Chamber Secrets opened Hogwarts School Witchcraft Wizardry, second-year student Harry Potter finds danger dark power released school.',
 "During third year Hogwarts School Witchcraft Wizardry, Harry Potter must confront devious dangerous wizard responsible parents' deaths.",
 'Through magic print-on-demand technology, "nimble" guide work best-selling author J. K. Rowling provides latest news author works, updated whenever significant developments. Unlike conventional book, editions printed quantity every couple years, "living book" goes frequent "mini-editions" printed fresh whenever customers place order. Purchasers entitled free PDF updates! An entirely new section analysis 75 new pages added shortly release "Harry Potter Half-Blood Prince" July 16, 2005.',
 '6 Science fiction-romaner.',
 'In one complete volume, five classic novels Douglas Adams’s beloved Hitchhiker series. Now celebrating pivotal 42nd anniversary The Hitchhiker’s Guide Galaxy, soon Hulu original series! The Hitchhiker’s Guide Galaxy (Nominated one America’s best-loved novels PBS’s The Great American Read) Seconds Earth demolished galactic freeway, Arthur Dent saved Ford Prefect, researcher revised Guide. Together stick thumbs stars begin wild journey time space. The Restaurant End Universe The moment annihilation hands warmongers curious time crave tea. It could happen cosmically displaced Arthur Dent comrades hurtle across galaxy desperate search place eat. Life, Universe Everything The unhappy inhabitants planet Krikkit sick looking night sky– plan destroy it. The universe, is. Now five individuals avert Armageddon: mild-mannered Arthur Dent stalwart crew. So Long, Thanks All Fish Back Earth, Arthur Dent ready believe past eight years figment stressed-out imagination. But gift-wrapped fishbowl cryptic inscription thrusts back reality. So speak. Mostly Harmless Just Arthur Dent makes terrible mistake starting enjoy life, hell breaks loose. Can save Earth total obliteration? Can save Guide hostile alien takeover? Can save daughter herself? Includes bonus story “Young Zaphod Plays It Safe” “With droll wit, keen eye detail heavy doses insight . . . Adams makes us laugh cry.”—San Diego Union-Tribune “Lively, sharply satirical, brilliantly written . . . ranks best set pieces Mark Twain.”—The Atlantic']

In [48]:
df2['description'] = no_stop_words
df2.head()

,title,subtitle,authors,publisher,publishdate,description,isbn_13,page_count,main_categories,categories,average_rating,ratings_count,maturity_rating
0,Harry Potter and the Chamber of Secrets,NaN,"['J. K. Rowling', 'Mary GrandPre']",Arthur a Levine,2003,When Chamber Secrets opened Hogwarts School Wi...,9780439554893,341.0,['Juvenile Fiction'],['Juvenile Fiction'],4.5,2273.0,NOT_MATURE
1,Harry Potter and the Prisoner of Azkaban,NaN,['J. K. Rowling'],Scholastic Paperbacks,2004,During third year Hogwarts School Witchcraft W...,9780439655484,547.0,['Juvenile Fiction'],['Juvenile Fiction'],4.5,2122.0,NOT_MATURE
2,Unauthorized Harry Potter and the Deathly Hall...,Harry Potter Book Seven and Half-Blood Prince ...,['W. Frederick Zimmerman'],Nimble Books,2005-04,"Through magic print-on-demand technology, ""nim...",9780976540601,152.0,['Fiction'],['Fiction'],3.5,11.0,NOT_MATURE
3,The Ultimate Hitchhiker's Guide,Five Complete Novels and One Story,['Douglas Adams'],Gramercy,2005,6 Science fiction-romaner.,9780517226957,844.0,"['Dent, Arthur (Fictitious character)']","['Dent, Arthur (Fictitious character)']",4.5,35.0,NOT_MATURE
4,The Ultimate Hitchhiker's Guide to the Galaxy,Five Novels in One Outrageous Volume,['Douglas Adams'],National Geographic Books,2002-04-30,"In one complete volume, five classic novels Do...",9780345453747,0.0,['Fiction'],['Fiction'],4.0,95.0,NOT_MATURE

# Old stuff

In [8]:
#kaggle_data = pd.read_csv("books.csv")  # read the Kaggle books dataset
#isbn_13 = kaggle_data['isbn13']         # extract the ISBN-13 column

#isbn_13.shape

In [3]:
# create an empty list to store the book data
#book_data_list = []
#url_base = 'https://www.googleapis.com/books/v1/volumes?q=isbn:'

# iterate over the ISBN 13 numbers, and get the information we need using the Google Books API
#for i, isbn in enumerate(isbn_13):

    # generate the URL for the Google Books API search 
#    url = url_base + isbn

    # get the book data; convert it to a dictionary using .json()
#    book_data = requests.get(url).json()

    #print(f'{i} {isbn}: {book_data.keys()}', end=': ')
    
#    if 'totalItems' in book_data and book_data['totalItems'] > 0:

        #print(book_data['totalItems'], end=': ')
        #print(book_data['items'][0]['volumeInfo']['title'], end='')
        # extract the relevant fields and create a new row in the DataFrame
#        book = {
#            'title': book_data['items'][0]['volumeInfo'].get('title', ''),
#            'subtitle': book_data['items'][0]['volumeInfo'].get('subtitle', ''),
#            'authors': book_data['items'][0]['volumeInfo'].get('authors', ''),
#            'publisher': book_data['items'][0]['volumeInfo'].get('publisher', ''),
#            'publishdate': book_data['items'][0]['volumeInfo'].get('publishedDate', ''),
#            'description': book_data['items'][0]['volumeInfo'].get('description', ''),
#            'isbn_13': isbn,
#            'page_count': book_data['items'][0]['volumeInfo'].get('pageCount', ''),
#           'main_categories': book_data['items'][0]['volumeInfo'].get('mainCategory', ''),
#           'categories': book_data['items'][0]['volumeInfo'].get('categories', ''),
#            'average_rating': book_data['items'][0]['volumeInfo'].get('averageRating', ''),
#            'ratings_count': book_data['items'][0]['volumeInfo'].get('ratingsCount', ''),
#            'maturity_rating': book_data['items'][0]['volumeInfo'].get('maturityRating', '')
#        }

        # append the new dictionary to the book_data_list
#        book_data_list.append(book)
#    else:

        # handle the case where no results were returned for the ISBN-13 number
        # print(f"No results found for ISBN-13 {isbn}")
#        pass
    
    #print()

# convert the list of dictionaries to a DataFrame
#response_df = pd.DataFrame(book_data_list)

In [4]:
#response_df.head(6)

In [5]:
#mainCats = []
#cats = []

#for item in response_df['categories']:
#    if len(item) == 1:
#        catss = item[0].split(',')
#        mainCats.append(catss[0])
#        cats.append(catss[1:])
#    else:
#        pass

#subs = []
#for i in cats:
#    if i == []:
#        pass
#    else:
#        subs.append(i)

#subs

In [6]:
#book_data_list = []
#rl_base = 'https://www.googleapis.com/books/v1/volumes?q=isbn:'

# iterate over the ISBN 13 numbers, and get the information we need using the Google Books API
#for i, isbn in enumerate(isbn_13):

    # generate the URL for the Google Books API search 
#    url = url_base + isbn

    # get the book data; convert it to a dictionary using .json()
#    book_data = requests.get(url).json()

    #print(f'{i} {isbn}: {book_data.keys()}', end=': ')
    
#    if 'totalItems' in book_data and book_data['totalItems'] > 0:

#        if len(book_data['items'][0]['volumeInfo'].get('categories', '')) > 1:
#            print('Yes')
        
        
        #print(book_data['totalItems'], end=': ')
        #print(book_data['items'][0]['volumeInfo']['title'], end='')
        # extract the relevant fields and create a new row in the DataFrame
        
        #book = {
        #    'title': book_data['items'][0]['volumeInfo'].get('title', ''),
        #    'subtitle': book_data['items'][0]['volumeInfo'].get('subtitle', ''),
        #    'authors': book_data['items'][0]['volumeInfo'].get('authors', ''),
        #    'publisher': book_data['items'][0]['volumeInfo'].get('publisher', ''),
        #    'publishdate': book_data['items'][0]['volumeInfo'].get('publishedDate', ''),
        #    'description': book_data['items'][0]['volumeInfo'].get('description', ''),
        #    'isbn_13': isbn,
        #    'page_count': book_data['items'][0]['volumeInfo'].get('pageCount', ''),
        #    'main_categories': book_data['items'][0]['volumeInfo'].get('mainCategory', ''),
        #    'categories': book_data['items'][0]['volumeInfo'].get('categories', ''),
        #    'average_rating': book_data['items'][0]['volumeInfo'].get('averageRating', ''),
        #    'ratings_count': book_data['items'][0]['volumeInfo'].get('ratingsCount', ''),
        #    'maturity_rating': book_data['items'][0]['volumeInfo'].get('maturityRating', '')
        #}

        # append the new dictionary to the book_data_list
        #book_data_list.append(book)
#    else:

        # handle the case where no results were returned for the ISBN-13 number
        # print(f"No results found for ISBN-13 {isbn}")
#        pass
    
    #print()

In [7]:
#url_base = 'https://www.googleapis.com/books/v1/volumes?q=isbn:'

# iterate over the ISBN 13 numbers, and get the information we need using the Google Books API


#for i, isbn in enumerate(isbn_13):
        
    # generate the URL for the Google Books API search 
#    url = url_base + isbn

    # get the book data; convert it to a dictionary using .json()
#    book_data = requests.get(url).json()
    
#    if 'totalItems' in book_data and book_data['totalItems'] > 0:    
#        print(book_data['items'][0]['volumeInfo'])